
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Task Name" #taskName>
    </md-input-container>
        <md-input-container class="example-full-width">
      <input mdInput  type="number" placeholder="Score" #score>
    </md-input-container>
        <md-input-container class="example-full-width">
      <input mdInput placeholder="Description " #description>
    </md-input-container>
<a md-raised-button routerLink="." (click)="createResult(taskName.value, score.value, description.value);" >Guardar</a>
